
#card{
    width: 300px;
    background-color:lightgray;
    padding:20px;
    margin:30px;
    border-radius: 10%;
    text-align: center;
    border:2px solid blue;
       
    justify-content: left;

}
#bau{
   height:50px;
    width: 200px;
    background-color:rgb(66, 171, 43);
    padding:100px;
    margin:5px;
    border-radius: 10%;
    text-align: center;
    border:5px solid blue;
  display: flex;
    justify-content: center;

}
.card a:visited
{
    color: black;
}